# Pocket-ID OIDC
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_DISCOVERY_URL=
OIDC_REDIRECT_URI=

# JWT Role
OIDC_ADMIN_GROUP=admin

# Flask
SECRET_KEY=
BASE_URL=

# Redis
REDIS_URL=redis://redis:6379/0

# Storage
JOBS_DIR=/jobs
MAX_UPLOAD_MB=500

# Surya
SURYA_CPU_ONLY=true
